
.whole-box {
    background-color: #f7f9fc;
    width: 100vw;
    height: 100vh;
}

.me-box {
    padding: 50px;
    background-color: white;
    margin-top: 30px;
}


.color-text {
    color: #6fbaf8
}
.btn-style{
    background-color: #6fbaf8;
    border: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    color: white;
}
.table-borderless p{
 margin: 0px;   
}

div {
    box-sizing: border-box;
}

body {
    background-color: #f7f9fc
}

.profile-box h1, .profile-box p{
    margin-bottom: 0px;
}

.profile-text-box {
    float: left; 
    text-align: left;
    vertical-align: middle;
}

.profile-table-box {
    border-left: 2px solid grey
}

@media screen and (max-width: 768px)
{
    .profile-table-box{
        border-left: 0px;
    }
}

.tab-box {
    margin-top: 40px;
    display: flex;
}

.padding-box {
    padding: 10px;
    
}

.detail-box {
background-color: white;
    padding: 20px;
}

.box-setting {
    border-radius: 5px;
	box-shadow: 0.5px 0.5px 2px 1px #eee;
}

.mgk-pic {
    width: 50%;
}

.flex-grow-1 p, .flex-grow-1 h5 {
    margin: 0px;
}
